doctype html
html
  head
    block title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="Content-Type",content="text/html;charset=UTF-8")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  body
    block content
