<div ng-if="!pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="media" ng-if="pokemonLoaded">
    <div class="media-left">
        <img class="media-object" ng-src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name }}">
        <img class="media-object" ng-src="{{pokemon.sprites.back_default}}" alt="{{pokemon.name }}">
    </div>
    <div class="media-body">

        <span class="badge">{{ pokemon.id }}</span>
        <h1 class="media-heading">{{pokemon.name | uppercase }}</h1>
	<label>Вес: <input class="form-control" type="text" ng-model="pokemon.weight"></label>
	<label>Hост: <input class="form-control" type="text" ng-model="pokemon.height"></label>
        <div class="list-group">
            <a class="list-group-item" ng-repeat="singleAbility in pokemon.abilities">
                <h4 class="list-group-item-heading">
                    <span class="badge">{{singleAbility.slot }}</span>
                    {{singleAbility.ability.name }}
                </h4>
            </a>
        </div>

        <input class="form-control" ng-model="pokemon.name" type="text" placeholder="Имя" required>

        <button class="btn btn-success" ng-click="updatePokemon(pokemon.name, pokemon.weight, pokemon.height)">
            <span class="glyphicon glyphicon-trash"></span>
            Редактировать
        </button>

    </div>
</div>

