body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.enter{
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(126, 126, 255, 0.19);
  margin: auto;
  width: 400px;
  margin-top: 100px;
}
input{
  width: 100%;
}
.list-head{
  font-size: 17px;
  font-weight: 600;
}
ul.list{
  list-style: none;
  padding: 0;
}
ul.list li:nth-child(1){
  background-color: #f9f9f9;
}
ul.list li{
  display: flex;
  padding: 10px;
  margin: 10px 0;
}