#about {
	overflow:hidden;
	.about-img {
		p {position:absolute; line-height:1;width:100%;}
		img {width:62%}
        @media (max-width: 800px) {
            img {display: none}
            p {
                position: static;font-size: 1.45rem;
                br {display: none}
            }
        }
	}
	b { font-family: PFDMedium, serif; font-weight: 500;text-transform: uppercase}
}
.about-img p:nth-child(2) {top: 7%;left:47%}
.about-img p:nth-child(3) {top: 27%;left:58%}
.about-img p:nth-child(4) {top: 44%;left:63%}
.about-img p:nth-child(5) {top: 62%;left:62%}
.about-img p:nth-child(6) {top: 80%;left:58%}

@media (min-width: 1600px) {
	#about {
		.about-img {
			p {line-height:1.3;font-size: 1.4rem;}
		}
	}
	.about-img p:nth-child(2) {top: 7%;left:46%}
	.about-img p:nth-child(3) {top: 27%;left:56%}
	.about-img p:nth-child(4) {top: 44%;left:61%}
	.about-img p:nth-child(5) {top: 62%;left:60%}
	.about-img p:nth-child(6) {top: 80%;left:56%}
}