@font-face {
	src: url('../../assets/fonts/PFDinTextCondPro-Medium.ttf');
	font-family: PFDMedium;
}
@font-face {
	src: url('../../assets/fonts/PFDinTextCondPro-Regular.ttf');
	font-family: PFDRegular;
}