section#format {
	background: url("../../assets/img/bg3.jpg") repeat;
	.item {
		&1 {background: url("../../assets/img/item1.png") no-repeat center center;}
		&2 {background: url("../../assets/img/item2.png") no-repeat center center;}
		&3 {background: url("../../assets/img/item3.png") no-repeat center center;}
		&1, &2, &3 {
			height:176px;padding:15px 30px; font-size:1.4rem;line-height: 1.15;
			span b { font-size:1.1em;}
			@media (max-width: 900px) {
				background-size: auto 80%;height:160px;font-size:1rem;background-position-y: top;
			}
			@media (max-width: 600px) {
				background: none; height:auto;
				span b { font-size: 1.1em; background-color: #A2ACB8;padding: 15px;margin-top: 25px;display: inline-block }
			}
		}
	}
}