#reviews {
    padding-top: 0;
    h2 {
        font-size: 2.7rem;
        span { font-size: .8em; }
    }
    .more-reviews {
        border-radius: 10px; color: green; border: 3px solid; background-color: transparent !important; 
        line-height: 1; font-size: 1.3rem; height: 55px; font-family: PFDMedium, serif;
    }
    .flex-wrapper {
        display: flex; align-items: stretch; justify-content: center; flex-wrap: wrap; max-width: 1280px;
        img { width: 48%; height: 100%; margin-top: -4.8% }
        .review {
            width: 52%; padding: 0 15px; font-size: 1.25rem;
            @media (max-width: 1800px) { font-size: 1.2rem; }
            @media (max-width: 1600px) { font-size: 1rem; }
            h5 {
                font-size: 1.55rem;
            }
            p { padding-left: 30px; line-height: 1.4; }
        }
        .more-text-toggle {
            text-decoration: underline; font-size: 1.2rem; cursor: pointer;
            img { height: auto; width: auto; margin-bottom: -2px; margin-left: 5px; }
        }
        .more-text {
            padding: 0 15px; display: none;
            strong { font-size: 1.1em; font-family: PFDMedium, serif; }
        }
        @media (max-width: 1400px) { margin: 0 -15%; }
        @media (max-width: 1050px) { font-size: 0.85rem; }
        @media (max-width: 991px) { margin: 0 -5%; }
        @media (max-width: 900px) {
            font-size: 1rem;
            img, .review, .more-text { width: 70%; }
        }
        @media (max-width: 750px) {
            img, .review, .more-text { width: 80% }
        }
        @media (max-width: 700px) {
            img, .review, .more-text { width: 90% }
        }
        @media (max-width: 600px) {
            margin: 0 -1%;
            img, .review, .more-text { width: 100% }
        }
    }
    .hide-reviews { display: none }
}